@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");


:root {
  --primary-color: rgb(25, 20, 42);
  --secondary-color: rgb(214, 34, 59);
  --font-color: #fff;
  --menu-color: rgb(38 31 61);
  --color-input: #333333;

  --grey-color: #666;
  --dar-blue-color: hsl(223deg 57% 12%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  user-select: none;
}

a {
  text-decoration: none;
  color: var(--font-color);
}

body {
  background: var(--primary-color);
  color: var(--font-color);
  line-height: 1.6; /* Added for better default readability */
}

a:visited {
  text-decoration: none;
  color: var(--font-color);
}
